.user-info {
  display: flex;
  align-items: center;
  background-color: #16161633;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-image-container {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.274);
  border-radius: 50%;
  object-fit: cover;
  margin-right: 35px;
  margin-left: 20px;
}

.profile-picture {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-details h2 {
  margin: 0 0 10px 0;
  font-size: 42px;
}

.user-details p {
  margin: 5px 0;
  color: #666;
}


.user-details button {
  background-color: #4b4b4b96;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.user-details button:disabled {
  background-color: #0057b3;
  cursor: not-allowed;
}

.user-details button:hover:not(:disabled) {
  background-color: #0056b3;
}