.playlist-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgba(70, 70, 70, 0.322);
    border-radius: 15px;
    padding: 20px;
}

.playlist-picture-container {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin-right: 20px;
    cursor: pointer;
}

.playlist-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    margin-right: 20px;
}

.playlist-picture-container.editable:hover .playlist-picture {
    opacity: 0.7;
}

.edit-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5em;
    opacity: 0;
    transition: opacity 0.3s;
}

.playlist-picture-container.editable:hover .edit-overlay {
    opacity: 1;
}

.playlist-details {
    display: flex;
    flex-direction: column;
    text-shadow: 0 5px 5px rgba(70, 70, 70, 0.322);
}

.playlist-details h1 {
    margin: 0;
    font-size: 2em;
}

.playlist-details p {
    margin: 5px 0;
}

.playlist-details a {
    color: #636363;
    text-decoration: none;
}

.playlist-details a:hover {
    text-decoration: underline;
}


.playlist-details button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.playlist-details button:hover {
    background-color: #17a745;
}