.playlist-card {
  background-color: #3a3a3a1c;
  color: #ccc; 
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  transition: all 0.3s ease;
}

.playlist-card:hover {
  background-color: #333333;
  transform: scale(1.1);
}

.playlist-picture {
  width: 190px;
  height: 180px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 0 4px 4px rgba(49, 49, 49, 0.1);
  transition: all 0.3s ease;
}

.playlist-card:hover .playlist-picture {
  box-shadow: 0 8px 8px rgba(49, 49, 49, 0.1);
}

.playlist-info {
  text-align: center;
}

.playlist-info h4 {
  margin: 10px 0;
}

.playlist-info p {
  margin: 5px 0;
}
