.subscribed-music {
    height: 420px;
    background-color: rgba(70, 70, 70, 0.322);
    border-radius: 15px;
    margin: 15px 15px 15px 15px;
  }
  
  .subscribed-music h2 {
    margin-bottom: 1px;
    padding-top: 15px;
    padding-left: 30px;
    text-align: center;
  }
  
  .subscribed-cards-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    white-space: nowrap;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px; 
  }
  